<div class="blog-wrapper">
<p id="notice"><%= notice %></p>

<h1>Articles</h1>

    <% @articles.reverse.each do |article| %>
      <%= link_to article do %>
      <div class="card">
        <div class="card-body">
        <h5 class="card-header"><%= article.title %></h5>
        <p class="card-text"><%= article.description %></p>
          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary" %>
          <%= link_to 'Destroy', article, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= time_ago_in_words(article.created_at)%>
        </div>
      </div>
      <% end %>
      <br />
    <% end %>

<br>

</div>